<div class="container" style="width: 100vw">
  <div class="card__container">
    <article class="card__article">
      <img
        src="../../../assets/general.jpg"
        alt="general doctor section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Comprehensive medical care and diagnosis for all health
          concerns.</span
        >
        <h2 class="card__title">General Diagnosis</h2>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.1rem;
          "
        >
          <app-button variant="add">See Doctors</app-button>
          <div class="card__doctor-profiles">
            <div class="doctor-avatar-container">
              <img
                src="../../../assets/doctor1.jpg"
                alt="Dr. A"
                class="doctor-avatar"
              />
            </div>
            <div class="doctor-avatar-container">
              <img
                src="../../../assets/doctor2.jpg"
                alt="Dr. B"
                class="doctor-avatar"
              />
            </div>
            <div class="doctor-avatar-container">
              <img
                src="../../../assets/doctor3.jpg"
                alt="Dr. C"
                class="doctor-avatar"
              />
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/cardiology.avif"
        alt="cardiology section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Focuses on heart health, including diagnosis and treatment of heart
          conditions.</span
        >
        <h2 class="card__title">Cardiology</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/pulmonology.png"
        alt="pulmonology section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Specializes in respiratory system health and lung conditions.</span
        >
        <h2 class="card__title">Pulmonology</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/dermatology.jpg"
        alt="dermatology section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Cares for skin health, treating conditions and diseases affecting the
          skin.</span
        >
        <h2 class="card__title">Dermatology</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/radiology.jpg"
        alt="radiology section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Utilizes imaging technologies for diagnosis and treatment of
          diseases.</span
        >
        <h2 class="card__title">Radiology</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/orthopedic.jpg"
        alt="orthopedic section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Focuses on musculoskeletal system issues, including bones and
          joints.</span
        >
        <h2 class="card__title">Orthopedic</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/pediatrics.jpg"
        alt="pediatrics section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Provides medical care for infants, children, and adolescents.</span
        >
        <h2 class="card__title">Pediatrics</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>

    <article class="card__article">
      <img
        src="../../../assets/psychiatry.jpg"
        alt="psychiatry section"
        srcset=""
      />
      <div class="card__data">
        <span class="card__description"
          >Focuses on mental health, including diagnosis and treatment of mental
          disorders.</span
        >
        <h2 class="card__title">Psychiatry</h2>
        <app-button variant="add">See Doctors</app-button>
      </div>
    </article>
  </div>
</div>
