<div class="notification-container">
  <div *ngIf="alertes.length > 0; else noNotifications">
    <div *ngFor="let alerte of alertes" class="notification" [class.acquittee]="alerte.acquittee">
      <p [ngClass]="{'critique': alerte.type === 'CRITIQUE', 'attention': alerte.type === 'ATTENTION', 'info': alerte.type === 'INFO'}">
        {{ alerte.message }}
      </p>
      <button *ngIf="!alerte.acquittee" (click)="acquitterAlerte(alerte.id)">Acquitter</button>
      <span *ngIf="alerte.acquittee">Acquittée par {{ alerte.acquitteePar }}</span>
    </div>
  </div>
  <ng-template #noNotifications>
    <p>Aucune notification pour le moment.</p>
  </ng-template>
</div>