<div class="user-table">
  <section class="table-header">
    <h1 class="table-title">NAFIS {{ isDoctor ? "Doctors" : "Patients" }}</h1>
  </section>

  <section class="table-body">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Profile</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>numeroSecurité</th>
          <th>Date De Naissance</th>
          <th>addresse</th>
          <th>phone</th>
          <th>Delete user</th>
          @if (isDoctor) {
          <th>mark present</th>
          <th>Status</th>
          } @else if (showRealTimevitals) {
          <th>RealTime vitals</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (patient of patients; track patient.id) {
        <tr>
          <td class="id-cell">{{ patient.id }}</td>
          <td class="profile-cell">
            <img
              src="{{
                patient.photoUrl || '../../../../../assets/generic.jpg'
              }}"
              alt="user profile picture"
            />
          </td>
          <td>{{ patient.lastname }}</td>
          <td>{{ patient.firstname }}</td>
          <td class="email-cell">{{ patient.email || "-" }}</td>
          <td>{{ patient.numeroSecu }}</td>
          <td>{{ patient.dateNaissance }}</td>
          <td>{{ patient.adresse }}</td>
          <td>{{ patient.telephone }}</td>
          <td>
            <app-button [variant]="'danger'" class="delete-btn"
              >Delete</app-button
            >
          </td>
          @if (isDoctor && !showRealTimevitals) {
          <td class="checkbox-cell">
            <app-checkbox [(ngModel)]="patient.status" label=""></app-checkbox>
          </td>
          <td class="status {{ patient.status }}">
            {{ patient.status }}
          </td>
          } @if (showRealTimevitals) {
          <td>
            <app-button
              [routerLink]="['/patient-chart']"
              [variant]="'add'"
              class="access-btn"
            >
              Access
            </app-button>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </section>
</div>
