:host {
  display: block;
}

.router-link-active {
  @apply text-white bg-tiffany-blue;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  animation: slideIn 0.5s ease-out;
}
